@import "tailwindcss";

/* *{
    background-color: rgb(17, 24, 39);
}
button{
    background-color:rgba(255, 255, 255, 0.164);
}
button:active{
    background-color: black;
} */
 @layer components {
  .input-box {
    @apply w-full p-3 rounded-xl bg-white text-gray-900 border border-gray-300
           focus:ring-2 focus:ring-purple-500 focus:border-purple-500
           shadow-sm outline-none transition;
  }

  .btn-primary {
    @apply w-full py-3 rounded-xl bg-gradient-to-r from-purple-600 to-blue-600 
           hover:from-purple-700 hover:to-blue-700 
           text-white font-semibold shadow-lg transition transform hover:scale-[1.01];
  }
}
